<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Eliminar Producto</title>
<h1>Aquí puede eliminar sus productos</h1>
<table>
		<form action="/datosEliminarProducto" method="post">
		<p>Id del producto a eliminar:
		<input  name="idProducto" type="text" placeholder="idProducto"></p>
		<input type="hidden" name="_csrf" value="{{token}}">
		<input  type="submit" value="Eliminar Producto">
		</form>
		<form action="/subirEliminarEditar" method="post">
		<input  type="submit" value="Atras">
		<input type="hidden" name="_csrf" value="{{token}}"/>
		</form>
   	</table>
</head>
<body background="fondo3.png" style="background-repeat: no-repeat; ">

</body>
</html>