<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Rellene los campos de la pieza que quiere subir</title>
</head>
<body background="fondo3.png" style="background-repeat: no-repeat; ">
	<form action="/subirProductoEditado">
	<p>ID Del Producto:
	<input  name="idProducto" type="text" placeholder="idProducto" value={{idProducto}}></p>
		<p>Nombre literal Del Producto:
	<input  name="litProducto" type="text" placeholder="litProducto" value={{litProducto}}></p>
	<p>idDeLaMarca:
	<input  name="id_marca" type="text" placeholder="id_marca" value={{id_marca}}></p>
	<p>desguacepropietario:
	<input  name="nombredesguacepropietario" type="text" placeholder="nombredesguacepropietario" value="{{nombredesguacepropietario}}"></p>
	<p>direccionDelDesguace:
	<input  name="direccionpropietario" type="text" placeholder="direccionpropietario" value="{{direccionpropietario}}"></p>
	<p>Comentario:
 	<textarea name="contenido" rows="10" cols="40" placeholder="contenido" "></textarea>
  	<br>
 	<input  name="alta" type="hidden" value="1">
	<input  type="submit" value="Subir Producto">
	

</form>
<form action="/subirEliminarEditar" method="post">
		<input  type="submit" value="Atras"></form>
</body>
</html>