<html> <head> <title>Buscador para cualquier web.</title> </head> <body> 
<h1>Desguambios</h1> 
<table>
		<form action="/buscadorPrincipal" method="post">
		<p>Marca del producto deseado:
		<input  name="idMarca" type="text" placeholder="renault, mercedes, bmw...."  ></p>
		<p>Tipo de pieza deseado:
		<input  name="litProducto" type="text" placeholder="retrovisor, parachoques, faro..." ></p>
		<input  type="submit" value="Buscar Producto">
		</form>
</table>
</font> 
</fieldset> 
</FORM> 
<a href="login.html">Haz login</a>

<a href="prueba.html">Referencia a Prueba</a>
</body> 
</html>
