<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<h1>Haz login o registrate</h1>
</head>
<body background="fondo3.png" style="background-repeat: no-repeat; ">



<form action="/datosAlHacerLogin" method="post">
		Usuario:
		<input name="usuario" type="text" >
		Contraseña:
		<input name="password" type="password">   
		<input type="submit" value="Iniciar Sesion"/>
</form>

<p></p>
<form action="/nuevoRegistro">
		<input type="submit" value="Ir a registro" />
		<input name="alta" type="hidden" value="0">
	</form>
	
<p></p>	
</body>
</html>
























































































































































































































































