

<html>
<head>
	<meta charset="UTF-8"/>
</head>
<body>








	
		
	<form action="/registro">
	<p>Usuario:
	<input  name="usuario" type="text" placeholder="usuario"></p>
	<p>Correo (@gmail.com):
	<input  name="email" type="text" placeholder="email"></p>
	<p>Direccion:
	<input  name="direccion" type="text" placeholder="direccion"></p>
	<p>Password:
	<input  name="password" type="text" placeholder="password"></p>
	<p>Validar Password:
	<input  name="valPassword" type="text" placeholder="valPassword"></p>
	<input  name="alta" type="hidden" value="1">
	<input  type="submit" value="Registrar">
</form>
{{#mensaje}}
Usuario registrado.<br><br>
{{/mensaje}}	
		
</body>
</html>