

<html>
<head>
	<meta charset="UTF-8"/>
</head>
<body>
	<form:form method="POST" action="/registro" modelAttribute="registro">
		<p>Usuario: </p>
		<input type='text' name='usuario'/>
		<p>Email:</p>
		<input type='text' name='email'/>
		<p>Direccion:</p>
		<input type='text' name='direccion'/>
		<p>Password:</p>
		<input type='text' name='password'/>
		
		<p>Confirm Password:</p>
		<input type='text' name='direccion'/>
	    {{#silent}}
     	<p>La contraseña no coincide, vuelva a introducirla</p>
     	{{/silent}}
		<p>
		<input name="alta" type="hidden" value=1>
		<input type='submit' value='Enviar'/>
		</p>
		</form:form>
</body>
</html>