<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Productos Encontrados</title>
<h1>Aquí están todos sus productos buscados</h1>
<h3>Si quiere guardar un producto como favorito, púlselo</h3>

</head>
<body background="fondo3.png" style="background-repeat: no-repeat; ">
<style>
	th
	{
		background: orange;
		height:30px;
	}
	table,th,td
	{
		border:2px solid green;
	}
	table
	{
		width:90%;
		color:black;
		text-align:center;
	}
</style>
<table>
		{{#listaProductos}}
   		<tr>
   			
        	<td>{{-index}}</td>
        	<td><a href="/favoritos/{{idProducto}}">{{.}}</a></td>
        	
      	</tr>
      	{{/listaProductos}}	
 </table>
<a href="/">Volver a Inicio</a>
<p></p>
</body>
