<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Productos Favoritos</title>
<h1>Aquí están todos sus productos guardados como favoritos</h1>
<table>
		{{#listaFavoritos}}
   		<tr>
   			
        	<td>{{-index}}</td>
        	<td>{{.}}</a></td>
        	
      	</tr>
      	{{/listaFavoritos}}	
 </table>
</head>
<body background="fondo3.png" style="background-repeat: no-repeat; ">
<a href="/">Volver a Inicio </a>
<p></p>
<a href="/pdfFavoritos"> Crear PDF</a>
<p></p>
</body>
