<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Rellene los campos de la pieza que quiere subir</title>
</head>
<body>
	<form action="/subirNuevoProducto">
	<p>Nombre literal Del Producto:
	<input  name="literalDelProducto" type="text" placeholder="literalDelProducto"></p>
	<p>idDelProducto:
	<input  name="idDelProducto" type="text" placeholder="idDelProducto"></p>
	<p>idDeLaMarca:
	<input  name="idDeLaMarca" type="text" placeholder="idDeLaMarca"></p>
	<p>desguacepropietario:
	<input  name="desguacepropietario" type="text" placeholder="desguacepropietario" value="{{nombredesguacepropietario}}"></p>
	<p>direccionDelDesguace:
	<input  name="direccionDelDesguace" type="text" placeholder="direccionDelDesguace" value="{{nombredireccionpropietario}}"></p>
	
	<input  name="alta" type="hidden" value="1">
	<input  type="submit" value="Subir Producto">
</form>
</body>
</html>