<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Suba, edite y elimine sus productos</title>
</head>
<body background="/fondo3.png" style="background-repeat: no-repeat; ">
<h1>Suba, edite y elimine sus productos</h1>
<p></p>
<a href="/subirProducto.html">Subir un nuevo producto</a>
<p></p>
<a href="/editarProducto.html">Editar un producto</a>
<p></p>
<a href="/verMisProductos.html">Ver todos sus productos</a>
<p></p>
<a href="/eliminarProducto.html">Eliminar producto </a>

<form action="/logout" method="post">
		<input type="submit" value="Sign Out" />
		<input type="hidden" name="_csrf" value="{{token}}"/>
	</form>

</body>
</html>