<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Rellene los campos de la pieza que quiere subir</title>
</head>
<body>
	<form action="/subirNuevoProducto">
	<p>Nombre literal Del Producto:
	<input  name="litProducto" type="text" placeholder="literalDelProducto"></p>
	<p>idDeLaMarca:
	<input  name="id_marca" type="text" placeholder="idDeLaMarca"></p>
	<p>desguacepropietario:
	<input  name="nombredesguacepropietario" type="text" placeholder="nombredesguacepropietario" value="{{nombredesguacepropietario}}"></p>
	<p>direccionDelDesguace:
	<input  name="direccionpropietario" type="text" placeholder="direccionpropietario" value="{{direccionpropietario}}"></p>
	
	<input  name="alta" type="hidden" value="1">
	<input  type="submit" value="Subir Producto">
</form>
</body>
</html>