<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Mis productos</title>
<h1>Aquí están todos sus productos</h1>
<style>
	th
	{
		background: orange;
		text-align: center;
		height:30px;
		width:30px;
		
	}
	td
	{   
		
		text-align: center;
		width:30px;
	}

	tr:nth-child(even) {background-color: #f2f2f2;}
	table,th,td
	{
		border:2px solid green;
	}
	table
	{
		width:90%;
		color:black;
		
	}
</style>

<table>
		<tr>
 		<th>ID</th>
 		<th>Tipo de Producto</th>
 		<th>Direccion del Desguace</th>
 		<th>Nombre del Desguace</th>
 		<th>Marca Del Producto </th>
 		<th>Comentario</th>
 		</tr>
		
		
	{{#listaProductos}}
		<tr>		
		<td>{{idProducto}}</td>
		<td>{{litProducto}}</td>
		<td>{{dirEmpresa}}</td>
		<td>{{usuario}}</td>
		<td>{{idMarca}}</td>
		<td>{{comentario.contenido}}</td>	
		</tr>
	{{/listaProductos}}
	</table>
</head>
<body background="fondo3.png" style="background-repeat: no-repeat; ">


<form action="/subirEliminarEditar" method="post">
		<input  type="submit" value="Atras">
		<input type="hidden" name="_csrf" value="{{token}}"/>	
</form>

</body>
</html>