<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Mis productos</title>
<h1>Aquí están todos sus productos</h1>
<table>
		{{#listaProductos}}
   		<tr>
   			
        	<td>{{-index}}</td>
        	<td>{{.}}</td>
      	</tr>
      	{{/listaProductos}}	
 </table>
</head>
<body background="fondo3.png" style="background-repeat: no-repeat; ">
<form action="/" method="post">
		<input  type="submit" value="Deslogarse"></form>
<p></p>
<form action="/subirEliminarEditar" method="post">
		<input  type="submit" value="Suba, edite y elimine sus productos"></form>

</body>
</html>