<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Mis productos</title>
<h1>Aquí están todos sus productos</h1>
<style>
	th
	{
		background: orange;
		height:30px;
	}
	table,th,td
	{
		border:2px solid green;
	}
	table
	{
		width:90%;
		color:black;
		text-align:center;
	}
</style>
<table>
		{{#listaProductos}}
   		<tr>
   			
        	<td>{{-index}}</td>
        	<td>{{.}}</td>
      	</tr>
      	{{/listaProductos}}	
 </table>
</head>
<body background="fondo3.png" style="background-repeat: no-repeat; ">


<form action="/subirEliminarEditar" method="post">
		<input  type="submit" value="Atras">
		<input type="hidden" name="_csrf" value="{{token}}"/>	
		</form>

</body>
</html>